node_modules
npm-debug.log
dist/server/config/local.env.js
dist/server/config/local.env.js.map
dist/server/config/local.env.prod.js
dist/server/config/local.env.prod.js.map
dist/server/Archive.zip
affh/Data/final_2022_shapefile.zip
affh/Data/final_2022_shapefile/final_2022_public.csv
affh/Data/final_2022_shapefile/final_2022_public.dbf
affh/Data/final_2022_shapefile/final_2022_public.prj
affh/Data/final_2022_shapefile/final_2022_public.shp
affh/Data/final_2022_shapefile/final_2022_public.shx
data_processing/6 - affh/Data/final_2022_shapefile.zip
data_processing/6 - affh/Data/final_2022_shapefile/final_2022_public.dbf
data_processing/6 - affh/Data/final_2022_shapefile/final_2022_public.prj
data_processing/6 - affh/Data/final_2022_shapefile/final_2022_public.shp
data_processing/6 - affh/Data/final_2022_shapefile/final_2022_public.shx
data_processing/6 - affh/Data/pa_v24b_census_correspondence_qaqc.geojson
data_processing/6 - affh/Data/pa_v24b_geo_lookup_census_correspondence.csv
data_processing/6 - affh/Data/pa_v24b_geo_lookup_census_jc.csv
data_processing/6 - affh/Data/pa_v24d.geojson
server/config/local.env.js
server/config/local.env.js.prod
server/config/local.env.sample.js
env.list