node_modules
/public
.tmp
.idea
client/bower_components
client/index.html
dist
/server/config/local.env.js
npm-debug.log
coverage
.env
web/.next
web/next-env.d.ts
web/test-results
web/playwright-report
api/dist
