@bayareametro:registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=${BAYAREAMETRO_NPM_TOKEN}
@awesome.me:registry=https://npm.fontawesome.com/
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONTAWESOME_AUTH_TOKEN}
install-strategy=hoisted
legacy-peer-deps=true
