.root {
  position: sticky;
  top: var(--ribbon-height);
  z-index: $zindex-dropdown + 2;
}

.headerLogo {
  margin-right: 16px;
}

.headerTitleLink {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.headerTitle {
  font-weight: 300;
}

.topContent {
  background-color: var(--dv-white);
}
