.body {
  overscroll-behavior: none;

  @include media-breakpoint-down(md) {
    overflow: var(--body-overflow);
  }
}

.skipLink {
  position: absolute;
  top: -100px;
  left: 8px;
  z-index: $zindex-dropdown + 4;
  background-color: var(--dv-white);
  color: var(--dv-midnight-blue);
  padding: 8px 16px;
  border-radius: 4px;

  &:focus-visible {
    top: 16px;
  }
}

.bodyContent {
  --ribbon-height: 8px;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.ribbon {
  --gradient-start-color: #d57028;
  --gradient-end-color: var(--dv-gold);

  height: var(--ribbon-height);
  background: linear-gradient(to right, var(--gradient-start-color), var(--gradient-end-color));
  position: sticky;
  top: 0;
  z-index: $zindex-dropdown + 3;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-width: 100%;
  overflow-x: hidden;
  padding: 24px;
}
