.root {
  --dv-accordion-bg: var(--dv-white);
  --dv-accordion-btn-bg: var(--dv-white);
  --dv-accordion-active-bg: var(--dv-orange);
  --dv-accordion-active-color: var(--dv-white);
  --dv-link-color-rgb: var(--dv-midnight-blue);
  --dv-link-decoration: none;

  flex: 1;
  width: 100%;
  background-color: var(--dv-white);
}
