<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" style="color: #506ea7" ui-sref="main">
      <img
        src="../../assets/images/navbar-img.png"
        alt=""
        width="20"
        height="20"
      /><strong style="margin-left: 10px"
        >Vehicle Miles Traveled Dataportal</strong
      >
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" ui-sref="main">Home</a>
        <a class="nav-link" ui-sref="data">Data</a>
        <a class="nav-link" ui-sref="feedback">Feedback</a>
        <a class="nav-link" ui-sref="about">About</a>
      </div>
    </div>
  </div>
</nav>

<!-- <div class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button
        class="navbar-toggle"
        type="button"
        ng-click="$ctrl.isCollapsed = !$ctrl.isCollapsed"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" class="navbar-brand">capvmt</a>
    </div>
    <div
      uib-collapse="$ctrl.isCollapsed"
      class="navbar-collapse collapse"
      id="navbar-main"
    >
      <ul class="nav navbar-nav">
        <li ng-repeat="item in $ctrl.menu" ui-sref-active="active">
          <a ui-sref="{{item.state}}">{{item.title}}</a>
        </li>
        <li ng-show="$ctrl.isAdmin()" ui-sref-active="active">
          <a ui-sref="admin">Admin</a>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active">
          <a ui-sref="signup">Sign up</a>
        </li>
        <li ng-hide="$ctrl.isLoggedIn()" ui-sref-active="active">
          <a ui-sref="login">Login</a>
        </li>
        <li ng-show="$ctrl.isLoggedIn()">
          <p class="navbar-text">Hello {{ $ctrl.getCurrentUser().name }}</p>
        </li>
        <li ng-show="$ctrl.isLoggedIn()" ui-sref-active="active">
          <a ui-sref="settings"
            ><span class="glyphicon glyphicon-cog"></span
          ></a>
        </li>
        <li ng-show="$ctrl.isLoggedIn()"><a ui-sref="logout">Logout</a></li>
      </ul>
    </div>
  </div>
</div> -->
